<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <!-- ng-show 在表达式为true时显示指定的HTML元素，否则隐藏指定的HTML元素 -->

    <!-- 验证邮箱 -->
    <!-- <form ng-app="" name="myForm">
        <input type="email" name="myAddress" ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">这不是一个合法的电子邮箱地址</span>
    </form> -->

    <!-- 隐藏/显示 HTML元素 -->
    <div ng-app="">
        显示隐藏的HTML元素: <input type="checkbox" ng-model="myVar">
        <div ng-show="myVar">
            <h1>隐藏的HTML元素</h1>
        </div>
    </div>

</body>
</html>